#set($position="resourceList")
#set($action="$ctxpath/share/getResourcesForShare")
#set($selected=true)
#set($selectedFunction="selected('$position')")
#if($r.resourceType=="ORGAN")
#parse("/views/organ-table.vm")
#else
#parse("/views/device-table.vm")
#end
<div style="float:left">
	##<input type="button" onclick="selected('$position');getPlatformsByType('$r.cmsId');" value="上一步"/>
	<input type="button" onclick="selected('$position');QuerySelectedResourceForShare('true')" value="下一步"/>
</div>
<div id="alertMsg" class="alertMsg" style="clear:right;height:20px;">
</div>
#parse("/views/share/share-form.vm")