#set($position="resourceList")
#set($action="$ctxpath/obtain/querySelectedGranteds")
#set($selected=true)
#set($selectedFunction="selected('$position')")
#if($r.grantedType=="USER")
	#parse("/views/user-table.vm")
#else
	#parse("/views/role-table.vm")
#end
<div style="float:left">
	<input type="button" class="previous" onclick="selected('$position');obtainQueryGrantedList();" value="上一步"/>
	<input type="button" id="confirmGranted" onclick="selected('resourceList');confirmGrants('$position')" value="授权确认"/>
</div>
<div id="alertMsg" class="alertMsg" style="clear:right;height:20px;">
</div>
#parse("/views/obtain/granted-form.vm")