<div class="row" style="margin-left:2px;margin-top:10px;">
		<div class="col-md-12">
    		<div class="input-group" style="margin-top:20px;margin-left:15px;margin-bottom:2px;">
            </div>
            <div class="col-md-6">
                   <div class="portlet box blue">
                          <div class="portlet-title">
                             <div class="caption">
                                <i class="fa fa-sitemap"></i> 平台列表
                             </div>
                          </div>
    					  <div class="portlet-body" style="min-height:500px;">
            							<div id="platformList">
                                    		#parse("/views/GB/platform-list.vm")
                                    	</div>
                          </div>
    			   </div>
            </div>
            <div class="col-md-6">
                   <div class="portlet box blue">
                          <div class="portlet-title">
                             <div class="caption" id="platformTitle">
                                <i class="fa fa-list"></i>
                             </div>
                          </div>
    					  <div class="portlet-body" style="min-height:500px;">
    							<div id="platformDetail">
                            	</div>
                          </div>
    			   </div>
            </div>
	</div>
</div>

