<div id="resetPasswordPopup" class="popup" style="display: none;">
	<span id="resetPasswordPopupX" class="button b-close"><span >X</span></span>
    <div class="portlet box green ">
                  <div class="portlet-title">
                     <div class="caption">
                        <i class="icon-reorder"></i> 重置密码
                     </div>
                  </div>
                  <div class="portlet-body form">
                     <form class="form-horizontal" role="form" id="resetPasswordForm">
                            <div class="form-body">
                                <div class="form-group">
                                      <label  class="col-md-3 control-label">原密码:</label>
                                      <div class="col-md-9">
                                         <input type="password" class="form-control"  placeholder="原密码" name="oldPassword">
                                      </div>
    							  </div>
                               <div class="form-group">
                                  <label  class="col-md-3 control-label">新密码:</label>
                                  <div class="col-md-9">
                                     <input type="password" class="form-control"  placeholder="新密码" name="newPassword">
                                  </div>
                               </div>
                               <div class="form-group">
                                  <label  class="col-md-3 control-label">确认密码:</label>
                                  <div class="col-md-9">
                                     <input type="password" class="form-control"  placeholder="新密码" name="confirmPassword">
                                  </div>
                               </div>
                              </div>
                      </form>
                  </div>
    </div>
	<input type="button" class="btn btn-info " style="margin-top:5px;" value="提交" onclick="setPassword()"/>
	
</div>
