<div class="row" >
	<div class="col-md-12">
		<div class="input-group" style="margin-top:20px;margin-left:15px;margin-bottom:2px;">
            <a class="btn btn-success" href="javascript:;" onclick="resetGbOrganTree()"><i class="fa fa-cogs"></i>结构重置</a>
        </div>
		<div class="col-md-12">
    		<div class="portlet box blue" style="margin-bottom:0px">
                			 <div class="portlet-title">
                                  <div class="caption"><i class="fa fa-sitemap"></i>平台结构</div>
    							  <div class="tools">
                                    <a href="javascript:;" class="collapse"></a>
                                 </div>
                              </div>
    						  <div class="portlet-body">
								<div id="gbOrganTree" style="margin-top: 1em; min-height: 400px;"></div>
                              </div>
            </div>
        </div>
    </div>
</div>
<a style="visibility:hidden" id="editGbOrganModalEntry" data-target="#editGbOrganModal" data-toggle="modal"></a>
#parse("/views/static/views/edit-gb-organ.vm")
<script>
		jQuery(document).ready(function() {
				setGbOrganTree();
		});
</script>