<table width="100%" border="0" cellpadding="1" cellspacing="1" id="${position}T">
		<tr class="tdTitle">
			<td style="width:50px;overflow: hidden;"></td>
			#if($r.resourceType=="VIC" || $r.resourceType=="IPVIC")
				<td style="width:35%;">资源名称</td>
				<td>所属机构</td>
				<td colspan="5" style="width:200px;" >设备权限</td>
			#else
				<td style="width:75%;">资源名称</td>
				<td>所属机构</td>
			#end
	    </tr>
	    #foreach($resource in $resources)
		    #parse("/views/r-s.vm")
			<tr class="$class">
				#if($r.resourceType=="VIC" || $r.resourceType=="IPVIC")
					<td>
						<input type="checkbox" name="${resource.id}" id="vic${resource.id}0" value="$resource.id" style="visibility:hidden; "  #if($idsMap.get($resource.id)) checked="true"#end/>
						<input type="checkbox" name="${resource.id}" id="vic${resource.id}1" 
						#if($idsMap.get($resource.id)) 
							#if($idsMap.get($resource.id)!="00000"))
							 	checked="true"
							#end
						#else
							checked="true"
						#end
						 onclick="controlRow('vic${resource.id}',7);"/>
					</td>
					<td><div onmouseover='showTips(event,this,"<span>/</span>$resource.organPath")'  onmouseout='hideTips(event,this);'>$resource.name</div></td>		
					<td>#if($resource.organ.name)$resource.organ.name #else $resource.parentOrgan #end</td>		
					<td style="width:60px;">
						<input type="checkbox" id="vic${resource.id}2" name="$resource.id2" onclick="permissonSelectFirst('vic$resource.id',2,7)"
						#if($permissionMap.get($resource.id).substring(0,1)==0)
							disabled="true"
						#else 
							#if($idsMap.get($resource.id)) 
								#if($idsMap.get($resource.id).substring(0,1)==1)) checked="true"
								#end
							#elseif($itemMap.get($resource.id)) 
								#if($itemMap.get($resource.id).substring(0,1)==1)) checked="true"
								#end
							#end)
						#end/>实时
					</td>
					<td style="width:60px;">	
						<input type="checkbox" id="vic${resource.id}3" name="$resource.id3" onclick="permissonSelectFirst('vic$resource.id',3,7)"
						#if($permissionMap.get($resource.id).substring(1,2)==0)
							disabled="true"
						#else 
							 #if($idsMap.get($resource.id)) 
							 	#if($idsMap.get($resource.id).substring(1,2)==1)) checked="true"
								#end
							 #elseif($itemMap.get($resource.id)) 
							 	#if($itemMap.get($resource.id).substring(1,2)==1)) checked="true"
								#end
							 #end
						#end/>历史
					</td>
					<td style="width:60px;">
						<input type="checkbox" id="vic${resource.id}4" name="$resource.id4" onclick="permissonSelectFirst('vic$resource.id',4,7)" 
						#if($permissionMap.get($resource.id).substring(2,3)==0)
							disabled="true"
						#else
							#if($idsMap.get($resource.id)) 
								#if($idsMap.get($resource.id).substring(2,3)==1)) checked="true"
								#end
							#elseif($itemMap.get($resource.id)) 
								#if($itemMap.get($resource.id).substring(2,3)==1)) checked="true"
								#end
							#end
						#end/>云台
					</td>
					<td style="width:60px;">
						<input type="checkbox" id="vic${resource.id}5" name="$resource.id5" onclick="permissonSelectFirst('vic$resource.id',5,7)" 
						#if($permissionMap.get($resource.id).substring(3,4)==0)
							disabled="true"
						#else
							#if($idsMap.get($resource.id)) 
								#if($idsMap.get($resource.id).substring(3,4)==1)) checked="true"
								#end
							#elseif($itemMap.get($resource.id)) 
								#if($itemMap.get($resource.id).substring(3,4)==1)) checked="true"
								#end
							#end
						#end/>预置位
					</td>
					<td style="width:60px;">
						<input type="checkbox" id="vic${resource.id}6" name="$resource.id5" onclick="permissonSelectFirst('vic$resource.id',6,7)" 
						#if($permissionMap.get($resource.id).substring(4)==0)
							disabled="true"
						#else
							#if($idsMap.get($resource.id)) 
								#if($idsMap.get($resource.id).substring(4)==1)) checked="true"
								#end
							#elseif($itemMap.get($resource.id)) 
								#if($itemMap.get($resource.id).substring(4)==1)) checked="true"
								#end
							#end
						#end/>抓拍
					</td>
				#elseif($r.resourceType=="AIC")
					<td><input type="checkbox" name="$resource.id" value="$resource.id" #if(!$idsMap.keySet().contains($resource.id))checked="true"#end/></td>
					<td><div onmouseover='showTips(event,this,"<span style=\"color:red;\">/</span>$resource.organPath")'  onmouseout='hideTips(event,this);'>$resource.name</div></td>		
					<td>#if($resource.organ.name)$resource.organ.name #elseif($resource.parentOrganName) $resource.parentOrganName #else $resource.parentOrgan #end</td>	
				#elseif($r.resourceType=="ORGAN")
					<td><input type="checkbox" name="$resource.id" value="$resource.id" #if(!$idsMap.keySet().contains($resource.id))checked="true"#end/></td>
					<td><div onmouseover='showTips(event,this,getContentForShowTips("$resource.organPath","$resource.id"))'  onmouseout='hideTips(event,this);'>$resource.name</div></td>		
					<td>#if($resource.parent)$!resource.parent.name #elseif($resource.parentOrgan)$!resource.parentOrgan #end</td>	
				#elseif($r.resourceType=="ROLE")
					<td><input type="checkbox" name="$resource.id" value="$resource.id" #if(!$idsMap.keySet().contains($resource.id))checked="true"#end/></td>
					<td>$resource.name</td>		
					<td>&nbsp;</td>	
				#end		
			</tr>
		#end
		#if($r.resourceType=="VIC" || $r.resourceType=="IPVIC")
			<tr class="$class">
				<td><a href="#" onclick="selectedAll('$position');" >全选</a>
					<a href="#" onclick="permissionNocheckedFirstCol('$position',1,7);" >反选</a>
				</td>
				<td>&nbsp;</td>		
				<td>&nbsp;</td>		
				<td>
					<a href="#"  onclick="permissionCheckCol('$position',2,7);">全选</a>
					<a href="#"  onclick="permissionNocheckedCol('$position',2,7);">反选</a>
				</td>
				<td>
					<a href="#" onclick="permissionCheckCol('$position',3,7);" >全选</a>
					<a href="#" onclick="permissionNocheckedCol('$position',3,7);" >反选</a>
				</td>
				<td>
					<a href="#" onclick="permissionCheckCol('$position',4,7);" >全选</a>
					<a href="#" onclick="permissionNocheckedCol('$position',4,7);" >反选</a>
				</td>
				<td>
					<a href="#" onclick="permissionCheckCol('$position',5,7);" >全选</a>
					<a href="#" onclick="permissionNocheckedCol('$position',5,7);" >反选</a>
				</td>
				<td>
					<a href="#" onclick="permissionCheckCol('$position',6,7);" >全选</a>
					<a href="#" onclick="permissionNocheckedCol('$position',6,7);" >反选</a>
				</td>
			</tr>
		#elseif($r.resourceType=="AIC" || $r.resourceType=="ORGAN" || $r.resourceType=="ROLE")
			<tr class="$class">
				<td>
					<a href="#" onclick="selectedAll('$position');" >全选</a>
					<a href="#" onclick="selectedNochecked('$position');" >反选</a>
				</td>
				<td>&nbsp;</td>		
				<td>&nbsp;</td>		
			</tr>
		#end
	</table>