#if($root=="source")
[
	{ 
        "text": "<div class='organLi' id='all' onclick='selectOrgan(\"所有机构\",\"all\",\"ownerOrganTreeArea\",true);'>所有机构</div>",
        "expanded": true, 
        "classes":"treeview-gray",
        "hasChildren":true,
        "id":"all",
        "children":
        	[
			#foreach($child in $children) 
			    { 
			        "text": "<div class='organLi' id='$child.id' onclick='selectOrgan(\"$child.name\",\"$child.id\",\"ownerOrganTreeArea\",true);'>$child.name</div>",
			        "expanded": false, 
			        "classes":"treeview-gray",
			        "hasChildren": #if($child.children.size()>0)true #else false #end,
			        "id":"$child.id"
			    }#if($velocityCount<$children.size()),#end
			#end
		]
    }
]
#else
	[
		#foreach($child in $children) 
		    { 
		        "text": "<div class='organLi' id='$child.id' onclick='selectOrgan(\"$child.name\",\"$child.id\",\"ownerOrganTreeArea\",true);'>$child.name</div>",
		        "expanded": true, 
		        "classes":"treeview-gray",
		        "hasChildren": #if($child.children.size()>0)true #else false #end,
		        "id":"$child.id"
		    }#if($velocityCount<$children.size()),#end
		#end
	]
#end
