<ul id="ownerOrganTree" class="treeview-gray">
		<li><div class="organLi" id="all"><span onclick="selectOrgan('所有机构','all','ownerOrganTreeArea',true);">所有机构</span></div>
			<ul id="ownerOrganTree" class="treeview-gray">
				#foreach($parent in $ownerOrganTree)
					<li><div class="organLi" id="$parent.id"><span onclick="selectOrgan('$parent.name','$parent.id','ownerOrganTreeArea',true);">$parent.name</span></div>
						#generalOwnerOrganTree($parent)	
					</li>
				#end
			</ul>
		</li>
</ul>
#macro(generalOwnerOrganTree $parent)
	#set($children = $parent.children)
	<ul class="treeview-gray">
		#foreach($child in $children)
			<li>
				<div class="organLi" id="$child.id"><span onclick="selectOrgan('$child.name','$child.id','ownerOrganTreeArea',true);">$child.name</span></div>
				#if($child.children.size()>0)
					#generalOwnerOrganTree($child)
				#end
			</li>
		#end
	</ul>
#end

<script>
	$(function(){
		$("#ownerOrganTree").treeview({
				control: "#treecontrol",
				persist: "cookie",
				cookieId: "treeview-black",
				collapsed: "closed"
		  });
	});
</script>