#set($position="userHas")
#set($action="$ctxpath/role/getUserByRoleId")
#set($selected=false)
#set($showPageSize=true)
<div class="hasTitle">已拥有该角色的用户列表</div>
<div id="userList2">
#foreach($user in $userHasList)
	<div class="myRow" style="background-color:#E9EEF5;" note="" id="myRow2_$user.id" ondblclick="movToRBydbClick('$user.id')"   onclick="changeColor('$user.id','myRow2_','#85CEEE');"><div class="logonName" id="$user.id" style="background-color:#E9EEF5;">$user.logonName</div></div>
#end
</div>
<form action="$action" id="${position}PageForm">
	<input type="hidden" name="first" value="false"/>
	<input type="hidden" name="roleId" value="$roleId"/>
	<input type="hidden" name="ownerOrganId" value="$!ownerOrganId"/>
	<input type="hidden" name="name" value="$!name"/>
		#parse("/views/page.vm")
</form> 
